@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.light {
  --background: #f6f6f6;
  --primary: #000;
  --secondary: #8f8e8e;
  --btn: #f5f5f5;
  --btnHover: #000;
  --shadow: rgba(0, 0, 0, 0.2);
}

.dark {
  --background: #050a1e;
  --primary: #fff;
  --secondary: #ccc;
  --btn: #333;
  --btnHover: #fff;
  --shadow: rgba(255, 255, 255, 0.2);
}
