@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Light Theme */
.light {
  --background: #f0f0f0;
  --primary: #333;
  --secondary: #666;
  --btn: #ffffff;
  --border: #e0e0e0;
  --card: #ffffff;
  --btnHover: #007bff;
  --switchHover: #ebedf0;
  --shadow: rgba(0, 0, 0, 0.1);
}

/* Dark Theme */
.dark {
  --background: #121212;
  --primary: #e0e0e0;
  --secondary: #b0b0b0;
  --btn: #333333;
  --border: #444444;
  --card: #1e1e1e;
  --btnHover: #007bff;
  --switchHover: #444950;
  --shadow: rgba(255, 255, 255, 0.2);
}
